.PhotoModal {
  background-color: var(--palette-white-100);

  padding: var(--space-200);
  border-radius: var(--radius-200);

  max-width: var(--size-modal-width);

  overflow-y: auto;
  box-sizing: border-box;
}

.PhotoModal__backdrop {
  position: fixed;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  padding: var(--space-400);

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  background-color: var(--palette-backdrop);
}

.PhotoModal__content {
  background-color: var(--palette-gray-100);

  border-radius: var(--radius-100);

  min-height: calc(100vw - 8rem);
  margin-bottom: var(--space-200);

  display: flex;
  justify-content: center;
  overflow: hidden;
}

@media (min-width: 768px) {
  .PhotoModal__content {
    min-height: calc(600px + 2rem);
    min-width: calc(600px + 0rem);
  }
}

.PhotoModal__button {
  position: fixed;
  top: 0;

  width: 3rem;

  font-size: 1.5rem;

  background: none;
  border: none;
  outline: none;

  cursor: pointer;
}

.PhotoModal__button--left {
  left: 0;
  bottom: 0;

  background-image: linear-gradient(
    to right,
    #000000aa,
    #00000033,
    #00000003
  );
}

.PhotoModal__button--right {
  right: 0;
  bottom: 0;

  background-image: linear-gradient(
    to right,
    #00000003,
    #00000033,
    #000000aa
  );
}

.PhotoModal__button--top {
  top: 0;
  left: 0;
  padding: var(--space-400);

  width: 100%;

  text-align: left;
}

.PhotoModal > p {
  margin-bottom: var(--space-200);
}
