.PhotoCard {
  display: block;
  position: relative;
  overflow: hidden;

  border-radius: var(--radius-100);

  transition: box-shadow 0.2s;
}

.PhotoCard__backdrop {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: var(--space-200);

  color: transparent;
  background-color: transparent;

  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
}

@media (min-width: 768px) {
  .PhotoCard:hover {
    box-shadow: var(--box-shadow-selection);
  }

  .PhotoCard:hover .PhotoCard__backdrop {
    color: var(--palette-white-100);
    background-color: var(--palette-backdrop);
    box-shadow: var(--box-shadow-backdrop);
  }
}

.PhotoCard > .Photo {
  width: 100%;
  height: 100%;
}
